<div ng-if="!$ctrl.file">
  <div 
    class="file-upload-btn" 
    ngf-select="$ctrl.uploadFile($file, $invalidFiles)" 
    ngf-max-size="{{$ctrl.maxSize}}MB" 
    ngf-pattern="'image/*'" 
    ngf-accept="'image/*'"
  >
    <i class="glyphicon glyphicon-paperclip"></i>
  </div>
</div>
<div ng-if="$ctrl.file">
  <div class="overlay-container thumb-photo">
    <div class="thumb-photo" ngf-background="$ctrl.fileInfo" ng-mouseover="$ctrl.displayOverlay = true"></div>
    <div class="overlay" ng-show="$ctrl.displayOverlay" ng-mouseleave="$ctrl.displayOverlay = false">
      <div class="overlay-action">
        <i class="clickable glyphicon glyphicon-trash" ng-click="$ctrl.removeFile()"></i>
      </div>
    </div>
  </div>
</div>