<div ng-show="$ctrl.isInitialized">
  <page-header title="'Listado de películas'" actions="$ctrl.actions"></page-header>
  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="movie in $ctrl.movies">
      <div class="thumbnail clickable" ng-click="$ctrl.goToMovieDetail(movie.id);">
        <img class="img-responsive" ng-src="{{movie.fileUrl}}" />
        <div class="caption text-center">
          <div class="title">{{movie.name}}</div>
          <div class="genders">{{movie.genders.join(', ')}}</div>
        </div>
      </div>
    </div>
  </div>
</div>