html,
body {
  margin: 0;
  padding: 0;
  font-family: "open sans", "Helvetica Neue", Helvetica;
  height: 100%;
  width: 100%;
  background-color: $gray-bg;
  font-size: 13px;
  max-width: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-direction: column;
}
#root-view {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: $gray-bg;
}

.page-header {
  border-bottom: 1px solid $black-bg;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    flex: 1;
    font-size: 2rem;
  }
  .actions {}
}

.thumbnail {
  .title {
    font-weight: 600;
    font-size: 1.4rem;
    display: block;
    color: var(--be-text);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &:hover {
    border: 1px solid $gray;
    box-shadow: 0 5px 2px -2px rgba(137, 137, 137, .3);
  }
  .genders {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
    color: $gray;
  }
}

.field {
  @extend .form-group;
  margin-bottom: 1rem;

  label {
    margin-bottom: 2px;

    &.required::after {
      content: '*';
      color: #ed5565;
      margin-left: 4px;
    }
  }
  .value {
    &.not-editable {
      text-align: justify;
      text-justify: inter-word;
    }
  }
}

textarea {
  resize: none;
}

.clickable {
  @include clickable();
}